@charset "UTF-8";

@media screen {

    :root{
        --cor1: #202622;
        --cor2: #658C6B;
        --cor3: #F2E1C2;
        --cor4: #BF8D7A;
        --cor5: #A65D5D;
    }
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        background-color: var(--cor3);
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;

    }

    /*-------------- CABEÇALHO ---------------*/
    header{
        background-color: var(--cor1);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        padding: 10px;
    }
    header > h1{
        margin: 0px 60px 0px 0px;
        text-align: center;
        padding: 10px;
        color: white;
    }
    nav{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    nav > a{
        background-color: var(--cor5);
        padding: 15px;
        margin: 5px;
        border-radius: 10px;
        flex-shrink: 0;
        color: white;
        text-decoration: none;
    }
    a:hover{
        background-color: var(--cor4);
        transition: .5s;
    }

    /*------------- CORPO DO SITE --------------*/
    main{
        background-color: var(--cor2);
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
        border-radius: 10px;
        margin: 5px;
    }
    main > h2{
        padding: 5px;
    }
    main > p{
        padding: 5px;
    }

}

@media screen and (max-width: 620px) {
    header{
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
    }
    header > h1{
        margin: 0px;
        text-align: center;
    }
    nav{
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
    }
    nav > a{
        align-self: stretch;
        text-align: center;
        margin: 3px 10px;
    }
}
