@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

.conteiner{
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 120px 60px 1fr 60px / 1fr 200px;
    gap: 10px;

    align-content: center;
    justify-content: center;
}

.caixa{
    background-color: lightblue;
    border: 1px solid black;
}

#topo{
    grid-area: 1/1/2/3;
}

#menu{
    grid-area: 2/1/3/3;
}

#cont1{
    grid-area: 3/1/4/2;
}

#cont2{
    grid-area: 3/2/4/3;
}

#rodape{
    grid-area: 4/1/5/-1;
}