@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS */


/* Typical Device Breakpoints
---------------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992 até 1200px
Grandes telas: acima de 1200px

Obs.: esses dados podem mudar com o tempo então é bom sempre pesquisar
*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../../imagens/back-print.jpg); /*desnecessário*/
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#print{display: block;}
    img#phone{display: none;}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../../imagens/back-tablet.jpg);
    }
    img#tablet{display: block;}
    img#phone{display:none}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../../imagens/back-pc.jpg);
    }
    img#pc{display: block;}
    img#phone{display: none;}

}
@media screen and (min-width: 1200px){
    body{
        background-image: url(../../imagens/back-tv.jpg);
    }
    img#tv{display: block;}
    img#phone{display: none;}
}