@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}
a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    background-color: darkred;
    padding: 20px;
    margin-top: -5px;
}
a:hover{
    background-color: red;
}